{% extends "courses/base.html" %}
{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static "stylesheets/history.css" %}" type="text/css">{% endblock %}
{% block title %}Курс{% endblock %}


{% block content %}
        <div class="course_for_what_history ">
            <div class="row align-items-center div-allsidesborder">
                <div class="col-lg-8">
                    <h2 class="h2-history mt-3 mb-3">Интерактивный тур по офису</h2>
                    <button type="button" class="btn btn-sm btn-primary btn-history"><span>Запуск</span></button>
                    <p class="p-history">Этот интерактивный тур по нашему офису улучшит твое представление компании и познакомит
                        с нашей философией и подготовит вас к возможному переходу к работе в офисе</p>
                </div>
                <div class="col-lg-4">
                    <h3 style="font-weight: 600;font-size: 20px;">Оцените курс</h3>
                    <img src="{% static "images/Звездочки.png" %}"><span class="rate">5.0</span>
                </div>
            </div>
        </div>
        <div class="about_course_history">
            <div class="row div-allsidesborder mt-2">
                <div class="col-lg-6 mb-5">
                    <h2 class="h2-about-history"><span class="span-text-color">Создаем историю вместе</span></h2>
                    <p class="p-about-history">Какая-то рандомная популярная паста на очень много букв</p>
                    <p class="p-about-history">Продолжение какой-то рандомной пасты на очень много букв</p>
                </div>
                <div class="col-lg-6">
                    <img src="{% static "images/Run - Health.png" %}" class="history-pic">
                </div>
            </div>
        </div>
    </div>

{% endblock %}