
.nav-aside li a{
    padding-left: 100px;
    padding-right: 100px;
}

.nav-aside{
    margin-left: 0px;
    border:0;
}
.nav-aside li {
    transition: 0.5s;
}

.course-h2 {
    padding-bottom: 25px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
    color: #4F4F4F;
    border-bottom: 1px solid #e0e0e0;
    
}

.career-h2 {
    font-size: 17px;

    color: #333333;
    font-weight: 600;
    padding-top: 30px;
    padding-left: 55px;

}

.nav-link-course {
    width:365px;
    border: 0;
    padding-left:0;
    padding-right: 0;
    padding-top:20px;
    padding-bottom:20px;
}

.btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 15px;
    width: 140px;
    height: 40px;
    
}
.career {
    display: flex;
    margin-left: 50px;
}

.career span:nth-of-type(1) {
    font-weight: 600;
    font-size: 16px;
}

.career span:nth-of-type(2) {
    color: #333333;
    font-weight: 500;
    font-size: 16px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.a-course {
    color: white;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:25px;
    padding-right: 25px;
    text-decoration: none;
}
.a-course:hover {
    color: white;
    text-decoration: none;
}

.h3-courses-icons {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 24px;
    width: 500px;
}

.p-courses {
    font-weight: 500;
    font-size: 18px;
    width: 520px;
}

.button-courses {
    width: 180px;
    font-weight: 700;
    font-size: 16px;
    margin-left: 20px;
}

a.a-nav-aside {
    width:365px !important;
    border: 0 !important;
    padding-left:0 !important;
    padding-right: 0 !important;
    padding-top:20px !important;
    padding-bottom:20px !important;
}



@media (min-width: 1200px) {
    .nav-aside li:hover {
        background-color: #2F80ED;
    }

}