VAULT_MOUNT_POINT=fw_test;VAULT_TOKEN=s.0V4o9iSR9ixDslaQBN1VmPnQ;VAULT_ADDR=http://10.226.9.248:31380;DATABASE_CONNECTION_STRING=postgresql://exp_dev1:tU$Drn#814&taG@10.226.9.249:5432/fw_metadata;ARTEFACT_GENERATOR_URL=http://10.226.9.248:22751
